h1{
    font-family: 'Telma', cursive;
    color: #f6f1a6;
    font-size: 32px;
    -webkit-animation: bounce1 1s ease 1 alternate;
}

p{
    color:#f6f1a6;
    font-size: 22px;
    font-family: 'Chillax', sans-serif;
    
}

html{
    margin: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    width:100vw;
    text-align: center;
    background-color: #135480;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 32px;
}


@-webkit-keyframes bounce1{
    0% {
        text-shadow: 4px 4px rgba(0, 0, 0, 0.4)
    }
    50% {
      transform:translateY(-20px);
      font-size: 52px;
      text-shadow: 4px 4px rgba(0, 0, 0, 0.2)
    }
    100% {
        transform:translateY(0);
        font-size:32px;
        text-shadow: rgba(0, 0, 0, 0.1)
      }
  }
  @-webkit-keyframes bounce2 {
    0% {
        
    }
    50% {
      transform:translateY(-20px);
       font-size: 28px;
    }
    100% {
        transform:translateY(0);
        font-size:22px;
      }
  }